
/**
 * Kahuna logo.
 */

.logo[data-logo="Kahuna"] {
  width: 4.464285714285714em;
}

.logo[data-logo="Kahuna"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Kahuna"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Kahuna"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}